#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@

override_dh_install:
	dh_install
	# Create and compile language files
	for pofile in po/*.po; do \
		lang=$$(basename $$pofile .po); \
		mkdir -p debian/touchpad-indicator/usr/share/locale-langpack/$$lang/LC_MESSAGES; \
		msgfmt $$pofile -o debian/touchpad-indicator/usr/share/locale-langpack/$$lang/LC_MESSAGES/touchpad-indicator.mo; \
	done
